@model Inventario
@{
    ViewData["Title"] = "Editarinventario";
}

<h1>Editarinventario</h1>

<body>
    <div class="card">
        <div clas="card-body">

            <form asp-action="Editarinventario" asp-controller="Home" method="post">
                <input asp-for="Idinventario" type="hidden" class="form-control">
                <div class="form-floating mb-3">

                    <input asp-for="descripcion" type="text" class="form-control" placeholder="descripcion">
                    <label for="floatingInput">Producto </label>
                    <span asp-validation-for="descripcion" class="text-danger"></span>

                </div>
                <div class="form-floating">
                    <input asp-for="unitario" type="text" class="form-control" placeholder="unitario">
                    <label for="floatingPassword">Precio unitario</label>
                    <span asp-validation-for="unitario" class="text-danger"></span>
                </div>

                <div class="form-floating">
                    <input asp-for="ingreso" type="date" class="form-control" placeholder="ingreso">
                    <label for="floatingPassword">Fecha Ingreso</label>
                    <span asp-validation-for="ingreso" class="text-danger"></span>
                </div>

                <br />

                <div class="form-floating mb-3">
                    <input asp-for="precio" type="text" class="form-control" placeholder="precio">
                    <label for="floatingInput">Precio total</label>
                    <span asp-validation-for="precio" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="codigo" type="text" class="form-control" placeholder="codigo">
                    <label for="floatingInput">Codigo</label>
                    <span asp-validation-for="codigo" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="cantidad" type="text" class="form-control" placeholder="cantidad">
                    <label for="floatingInput">Cantidad</label>
                    <span asp-validation-for="cantidad" class="text-danger"></span>
                </div>
                <br />

                <button type="submit" class="btn btn-primary">Editar</button>
                <a asp-action="inventario" asp-controller="Home" class="btn btn-warning"> volver a la lista</a>
            </form>

        </div>
    </div>


    <br />


    <br />
    <br />
    <br />
    <br />
</body>
<br />
<br />
<br />
<br />
<br />
<br />