@model Ficha

@{
    ViewData["Title"] = "Eliminarficha";
}

<h1>Eliminarficha</h1>

<body>
    <div class="card">
        <div clas="card-body">

            <form asp-action="Eliminarficha" asp-controller="Home" method="post">
                <input asp-for="Idficha" type="hidden" class="form-control">
                <div class="alert alert-danger" role="alert">
                    ¿Desea eliminar el registro:@Html.DisplayTextFor(m=>m.nombreficha)?
                </div>
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a asp-action="ficha" asp-controller="Home" class="btn btn-warning"> volver a la lista</a>
            </form>

        </div>
    </div>


    <br />


    <br />
    <br />
    <br />
    <br />
</body>
<br />
<br />
<br />
<br />
<br />
<br />