@{
    ViewData["Title"] = "Ubicación";
}
<h1>@ViewData["Title"]</h1>

<p>Viaitanos en la clinica dental </p>

<hr>

<br/>
<br />
<div class="text-center">
    <h1 class="elementor-privacy-title"  style="font-weight:100;">
        Horario de atención
    </h1>
    <div  class="elementor-privacy-horario">
        <dl class="row">
            <dt class="col-sm-12">Lunes  8:00 a.m. - 6:00 p.m.</dt>

            <dt class="col-sm-12">Martes a Viernes 2:00 p.m. - 7:00 p.m.</dt>

            <dt class="col-sm-12">Sabado 8:00 a.m. - 6:00 p.m.</dt>
           
        </dl>
    </div>
    </div>
<br/>
<br />

<div class="text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2729.376974739966!2d-90.43604632223804!3d14.66037153179875!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858997e07d57c14d%3A0x6fd2e060691c61e!2sResidenciales%20Pinares%20del%20Norte%2C%20Cdad.%20de%20Guatemala!5e0!3m2!1ses!2sgt!4v1663889683823!5m2!1ses!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
 
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>

